/* Animation */
@keyframes dropdown {
    0% {
        top: -500px;
        opacity: 25%;
    }
    100% {
        top: 0px;
        opacity: 100%;
    }
}

@keyframes me-jumpscare {
    0% {
        top: 400px;
        width: 45px;
        height: 45px;
    }
    100% {
        top: 100px;
        width: 300px;
        height: 300px;
    }
}

@keyframes in {
    0% {
        opacity: 25%;
    }
    100% {
        opacity: 100%;
    }
}

@keyframes rainbow {
    0% {
        color: rgb(205, 90, 90);
    }
    14% {
        color: rgb(215, 158, 78);
    }
    28% {
        color: rgb(203, 195, 83);
    }
    42% {
        color: rgb(148, 216, 106);
    }
    56% {
        color: rgb(78, 156, 215);
    }
    70% {
        color: rgb(106, 106, 209);
    }
    84% {
        color: rgb(120, 74, 173);
    }
    100% {
        color: rgb(205, 90, 90);
    }
}

@keyframes changeBG1 {
    0% {
        background-image: url('../images/bg/background2.webp');
    }
    100% {
        background-image: url('../images/bg/background3.webp');
    }
}

@keyframes changeBG2 {
    0% {
        background-image: url('../images/bg/background3.webp');
        background-color: rgba(0, 0, 0, 0.90);
        background-blend-mode: darken;
    }
    100% {
        background-image: url('../images/bg/background2.webp');
        background-color: rgba(0, 0, 0, 0.70);
    }
}


/* index.html */
#home-body { 
    background-image: url('../images/bg/background1.jpg');
    background-position: center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0);
    background-blend-mode: darken;
    overflow: hidden;
    
    transition: background-color 2s ease-out;
}

#container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    border-radius: 25px;
    margin: 300px;
    padding: 0px;

    background-color: rgba(0, 0, 0, 0.55);
    color: white;

    animation-duration: 3s;
    animation-name: dropdown;
    animation-fill-mode: forwards;
    transition: color 2s, background-color 2s ease-out;
}

#hh1 {
    padding-top: 30px;
    margin-bottom: 0px;

    font-family: "Press Start 2P", sans-serif;
    font-weight: 100;
    font-size: 25px;
}

#hh1:hover {
    color: silver;
    transition: 3s;
}

#hh2 {
    padding-bottom: 0px;
    margin-top: 0px;

    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 23px;
}
 
.aboutBTN {
    border-radius: 15px;
    padding: 10px;
    margin: auto;
    margin-bottom: 40px;
    width: 400px;

    background-color: white;
    opacity: 30%;

    color: rgb(41, 41, 41);
    font-family: "Press Start 2P", sans-serif;
    font-weight: 100px;
    font-size: 15px;
    text-align: center;
    text-decoration: none;

    transition: opacity 2s, width 2s ease-out;
}

.aboutBTN:hover {
    width: 500px;
    opacity: 85%;
    transition-duration: 2s;
}

#home-body:has(.aboutBTN:hover) {
    background-color: rgba(0, 0, 0, 0.50);
    transition-duration: 2s;
}

#container1:has(.aboutBTN:hover) {
    background-color: rgba(0, 0, 0, 0.25) ;
    color: rgb(156, 156, 156, 0.25);
    transition-duration: 2s;
}



/* about.html */
#about-body {
    background-image: url('../images/bg/background2.webp');
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.50);
    background-blend-mode: darken;
    overflow: hidden;

    animation-duration: 3s;
    animation-name: changeBG2;
    animation-fill-mode: forwards;
    transition: opacity 2s ease-out;
}

#about-header {
    display: flex;
    justify-content: flex-end;
    background-color: rgba(0, 0, 0, 0.45);
    height: 50px;
    margin: -10px;
    position: relative;

    animation-duration: 2s;
    animation-name: in;
    animation-fill-mode: forwards;
}

header p {
    margin: 0px;
}

#about-body:has(.link:hover:not(p)) {
    opacity: 25%;
    transition-duration: 2s;
}

.link {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px 30px;

    color: rgb(188, 188, 188);
    font-family: "Press Start 2P", sans-serif;
    font-weight: normal;
    font-size: 15px;
    text-decoration: none;

    cursor: pointer;

    transition: color 1s ease-out;
}

.link:hover {
    opacity: 100%;
    color: rgb(255, 255, 255);
    transition-duration: 1s;
}

#container2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.aboutME {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imageCTN {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.me1 {
    width: 300px;
    height: 300px;
    position: relative;

    animation-duration: 5s;
    animation-name: me-jumpscare;
    animation-fill-mode: forwards;
}

.me2 {
    width: 300px;
    height: 300px;
    position: relative;

    animation-duration: 5s;
    animation-name: me-jumpscare;
    animation-fill-mode: forwards;
}

.secret {
    width: 300px;
    height: 300px;
    position: relative;
    opacity: 0%;

    animation-duration: 5s;
    animation-name: me-jumpscare;
    animation-fill-mode: forwards;
    transition: opacity 1s ease-out;
}

.imageCTN .me1, .imageCTN .me2, .imageCTN .secret {
    position: absolute;
    transition: opacity 1s ease-out;
}

.imageCTN .me2 {
    opacity: 0%;
}

.imageCTN .secret {
    opacity: 0%;
}

.imageCTN:hover .me1 {
    opacity: 0%;
}

.imageCTN:hover .me2 {
    opacity: 100%;
}

#ah1 {
    background-color: rgba(0, 0, 0, 0.45);
    width: 425px;
    height: 20px;
    padding: 20px;
    margin-top: 375px;

    color: white;
    font-family: "Press Start 2P", sans-serif;
    font-weight: normal;
    font-size: 20px;
    text-align: center;

    animation-duration: 5s;
    animation-name: in;
    animation-fill-mode: forwards;
}

#dood {
    position: relative;
    color: rgb(255, 255, 255);

    transition: color 2s ease-out;
}

#hidden {
    background-color: rgb(0, 0, 0, 0.5);
    width: 500px;
    border-radius: 10px;
    text-align: center;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 50px;
    left: 50%;
    margin-left: -60px;

    font-size: 10px;
    color: white;
    opacity: 0%;

    transition: opacity 1s ease-out;
}

#dood:hover {
    color: rgb(205, 90, 90);

    animation-duration: 2s;
    animation-name: rainbow;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-direction: normal;
    transition-duration: 2s;
}

#dood:hover #hidden {
    opacity: 100%;

    transition-duration: 1s;
}

#dood:hover .secret {
    opacity: 100%;

    transition-duration: 1s;
}

#ap1 {
    background-color: rgba(0, 0, 0, 0.55);
    width: 1200px; 
    height: 200px;
    padding: 20px;

    color: white;
    font-family: "Press Start 2P", sans-serif;
    font-weight: normal;
    font-size: 14px;
    text-align: justify;
    line-height: 25px;

    animation-duration: 5s;
    animation-name: in;
    animation-fill-mode: forwards;
}

#hort {
    color: rgb(205, 90, 90);

    transition: color 2s ease-out;
}

#hort:hover {
    color: rgb(205, 90, 90);

    animation-duration: 6s;
    animation-name: rainbow;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-direction: normal;
    transition-duration: 2s;
}



/* portfolio.html */
#portfolio-body {
    background-image: url('../images/bg/background3.webp');
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.60);
    background-blend-mode: darken;
    overflow-x: hidden;

    animation-duration: 3s;
    animation-name: changeBG1;
    animation-fill-mode: forwards;
    transition: opacity 2s ease-out; 
}

#portfolio-body:has(.link:hover:not(p)) {
    opacity: 25%;
    transition-duration: 2s;
}

#portfolio-header {
    display: flex;
    justify-content: flex-end;
    background-color: rgba(0, 0, 0, 0.45);
    height: 50px;
    margin: -10px;
    position: relative;

    animation-duration: 2s;
    animation-name: in;
    animation-fill-mode: forwards;
}

header p {
    margin: 0px;
}

#container3 {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.55);
    height: 650px;
    border-radius: 25px;
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 20px;

    animation-duration: 5s;
    animation-name: in;
    animation-fill-mode: forwards;
}

#ph1 {
    margin-bottom: 5px;

    color: white;
    font-family: "Press Start 2P", sans-serif;
    font-weight: normal;
    font-size: 30px;
}

#sphan {
    top: -5px;
    position: relative;

    color: white;
    font-family: "Press Start 2P", sans-serif;
    font-weight: normal;
    font-size: 20px;
}

#portfolio {
    display: flex;
    flex-direction: row;
    height: 350px;
}

#portfolio img {
    padding: 20px;
}

.asmng1, .asmng2, .asmng3 {
    position: relative;

    width: 604.8px;
    height: 307.8px;
    border-radius: 50px;

    transition: width 2s, height 2s ease-out;
}

.asmng1:hover, .asmng2:hover, .asmng3:hover {
    width: 672px;
    height: 323.19px;

    transition-duration: 2s;
}

.asmng4 {
    position: relative;

    width: 25%;
    height: 25%;
    border-radius: 50px;

    transition: width 2s, height 2s ease-out;
}

.asmng4:hover {
    width: 30%;
    height: 30%;

    transition-duration: 2s;
}

.asmng5 {
    position: relative;

    width: 30%;
    height: 30%;
    border-radius: 50px;

    transition: width 2s, height 2s ease-out;
}

.asmng5:hover {
    width: 35%;
    height: 35%;

    transition-duration: 2s;
}

.asmng6 {
    position: relative;

    width: 15%;
    height: 15%;
    border-radius: 50px;

    transition: width 2s, height 2s ease-out;
}

.asmng6:hover {
    width: 20%;
    height: 20%;

    transition-duration: 2s;
}

.asmng7 {
    position: relative;

    width: 15%;
    height: 15%;
    border-radius: 50px;

    transition: width 2s, height 2s ease-out;
}

.asmng7:hover {
    width: 20%;
    height: 20%;

    transition-duration: 2s;
}

#pp1 {
    color: white;
    font-family: "Press Start 2P", sans-serif;
    font-weight: normal;
    font-size: 17px;
    line-height: 40px;
}
