/* index.html */
#home-body {
    background-image: url('../images/background1.jpg');
    background-position: center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0);
    background-blend-mode: darken;
    overflow: hidden;
    
    transition: background-color 2s ease-out;
}

.container1 {
    display: grid;
    justify-content: center;
    position: relative;
    border-radius: 25px;
    margin: 300px;
    padding: 0px;

    background-color: rgba(0, 0, 0, 0.55);
    color: white;

    animation-duration: 3s;
    animation-name: dropdown;
    animation-fill-mode: forwards;
    transition: color 2s, background-color 2s ease-out;
}

#hh1 {
    padding-top: 30px;
    margin-bottom: 0px;

    font-family: "Press Start 2P", sans-serif;
    font-weight: 100;
    font-size: 25px;
}

#hh1:hover {
    color: silver;
    transition: 3s;
}

#hh2 {
    padding-bottom: 0px;
    margin-top: 0px;

    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 23px;
}
 
.aboutBTN {
    border-radius: 15px;
    padding: 10px;
    margin: auto;
    margin-bottom: 40px;
    width: 400px;

    background-color: white;
    opacity: 30%;

    color: rgb(41, 41, 41);
    font-family: "Press Start 2P", sans-serif;
    font-weight: 100px;
    font-size: 15px;
    text-align: center;
    text-decoration: none;

    transition: background-color 2s;
    transition: opacity 2s;
}

.aboutBTN:hover {
    opacity: 85%;
    transition-duration: 2s;
}

#home-body:has(.aboutBTN:hover) {
    background-color: rgba(0, 0, 0, 0.50);
    transition-duration: 2s;
}

.container1:has(.aboutBTN:hover) {
    background-color: rgba(0, 0, 0, 0.25) ;
    color: rgb(156, 156, 156, 0.25);
    transition-duration: 2s;
}



/* about.html */
#about-body {
    background-image: url('../images/background2.webp');
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.50);
    background-blend-mode: darken;

    animation-duration: 3s;
    animation-name: load;
    animation-fill-mode: forwards;
}

#about-header {
    background-color: rgb(63, 95, 63);
    height: 50px;
    /* margin: 0px;
    padding: 0px; */
    position: relative;

    animation-duration: 2s;
    animation-name: dropdown;
    animation-fill-mode: forwards;
}



/* animation */
@keyframes load {
    0% {
        background-color: rgba(0, 0, 0, 0.90);
        background-blend-mode: darken;
    }
    100% {
        background-color: rgba(0, 0, 0, 0.5);
    }
}

@keyframes dropdown {
    0% {
        top: -500px;
        opacity: 0%;
    }
    100% {
        top: 0px;
        opacity: 100%;
    }
}